* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}
  
.main_support {
      max-width: 1600px;
      margin: 0 auto;
      padding-bottom: 70px;
      height: 90vh;
}
  
.rais {
      margin-left: 200px;
}
  
.support_wrapper {
      width: 95%;
      padding-top: 20px;
      margin: 0 auto;
}
.headline {
      padding: 12px;
      font-weight: 700;
      font-size: 20px;
      color: #4e4d4d;
}

textarea {
      resize: none;
      width: 100%;
      height: 70px;
      appearance: none;
      background: none;
      border: none;
      outline: none;
      border-bottom: 1px solid black;
      padding-top: 10px;
}

.support_grid {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
      margin: 0 auto;
      background-color: #f6f5f5;
      padding: 40px 25px 25px 25px;
}

.support_grid p {
      font-size: 20px;
      font-weight: 600;
      text-align: center;
}

.entry input {
      width: 100%;
      appearance: none;
      background: none;
      border: none;
      border-bottom: 1px solid black;
      outline: none;
      padding-top: 15px;
      font-size: 16px;
}

.botton {
      background-color: #566DF5;
      width: 100%;
      appearance: none;
      border: none;
      outline: none;
      padding: 15px;
      text-transform: uppercase;
      cursor: pointer;
      color: #f6f5f5;
}

@media screen and (min-width: 250px) and (max-width: 800px) {

      .rais {
            margin: 0 auto;
            padding-top: 30px;
      }

      .headline {
            top: 0;
            padding-top: 7px;
            padding-left: 50px;
            position: fixed;
            z-index: 1;
            background-color: #e9e4e6;
            width: 100%;
      }
}